@import '~@angular/material/theming';
@import 'src/custom-theme.scss';



.app-container{
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 100vw;
}

.router-container{
    flex: 1 1 auto;
}