<div class="container">
    <div class="login-container">
        <h1>Sitas</h1>
        <div class="login-container-buttons">
            <div class="login-button google" (click)="loginWithProvider('google')">
                <img src="/assets/imgs/logoGoogle.png" alt="logo google"/>
                <span>Login with Google</span>
                <div></div>
            </div>
            <div class="login-button github" (click)="loginWithProvider('github')">
                <img src="/assets/imgs/logoGithub.png" alt="logo github"/>
                <span>Login with Github</span>
                <div></div>
            </div>
            <div class="login-button discord" (click)="loginWithProvider('discord')">
                <img src="/assets/imgs/logoDiscord.png" alt="logo discord"/>
                <span>Login with Discord</span>
                <div></div>
            </div>
        </div>
    </div>
</div>