<div class="container">
    <div class="login-container">
        <h1>Sitas</h1>
        <div class="login-container-buttons">
            <div class="login-button google">
                <img src="/assets/imgs/logoGoogle.png"/>
                <span>Login with Google</span>
                <div></div>
            </div>
            <div class="login-button github">
                <img src="/assets/imgs/logoGithub.png"/>
                <span>Login with Github</span>
                <div></div>
            </div>
            <div class="login-button discord">
                <img src="/assets/imgs/logoDiscord.png"/>
                <span>Login with Discord</span>
                <div></div>
            </div>
        </div>
    </div>
</div>