
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 70%;
    height: 70%;
    color: #E9FD01;
}

.container-content h1{
    font-family: 'Signika Negative';
    font-weight: 700;
    font-size: 70px;
}

.container-content p{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 20px;
}

.container-content img {
    height: 40%;
    margin: 30px;
}

.container-content .button {
    border: solid 1px #E9FD01;
    width: 180px;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    margin-right: 2%;
    cursor: pointer;
}

.container-content .button p{
    color: #E9FD01;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 19px;
}